{% load static %}

<html>
<head>
    <title>Reservation Calendar</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
</head>
<body>
    <a href="{% url 'create_reservation' %}">Create Reservation</a>
    <div class="filters">
        <label><input type="checkbox" checked data-category="work"> Work</label>
        <label><input type="checkbox" checked data-category="personal"> Personal</label>
        <label><input type="checkbox" checked data-category="meeting"> Meeting</label>
        <label><input type="checkbox" checked data-category="other"> Other</label>
    </div>
    <div id='calendar'></div>

    <div class="legend">
        <span style="background-color: #3788d8">Work</span>
        <span style="background-color: #00cc00">Personal</span>
        <span style="background-color: #ff9900">Meeting</span>
        <span style="background-color: #808080">Other</span>
    </div>

    <script src="{% static 'js/calendar.js' %}"></script>
</body>
</html>